html {
    background-color: #e0e0e0;
}

#map {
    display: block;
    position: absolute;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 150px;
    z-index: -1;
}

#search {
    display: block;
    position: absolute;
    position: fixed;
    bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.hidden{display:none;}

#table {
    padding: 15px;
    margin-top: 5px;
}

#tableContainer h3 {
    padding-left: 16px;
    text-align: center;
    font-family: "Circular Pro";
}

#table h5 {
    font-family: "Avenir Next";
    margin: 0px;
    padding: 0px;
    display:inline;

}

#table p {
    font-family: "Avenir Next";
    margin-top: 0px;
    margin-bottom: 15px;
    padding: 0px;
    font-size: 10px;
}

#left {
    float: left;
}

#right {
    float: right;
}

#tableContainer {
    z-index: 1;
    background-color: lightcyan;
    top: 0px;
    right:0px;
    position: absolute;
    min-height: 100%;
    max-width: 30%;
}

#tableContainer img {
    height: 14px;
    width: 14px;
    padding-top: 0px;
    padding-left: 10px;
    position: fixed;
    right: 31%;
}

#timeStamp {
    position: fixed;
    font-family: "Circular Pro";
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.search {
    width: 80%;
    position: relative
}

.searchTerm {
    float: left;
    min-width: 50%;
    width: 70%;
    border: 3px solid #46bded;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #46bded;
}

.searchButton {
    position: absolute;
    right: 70px;
    width: 40px;
    height: 36px;
    border: 1px solid #46bded;
    background: #46bded;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.simulateButton {
    position: absolute;
    right: -60px;
    width: 120px;
    height: 36px;
    border: 1px solid #46bded;
    background: #46bded;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.wrap{
    width: 40%;
    display: block;
    position: absolute;
    position: fixed;
    bottom: 65px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.simulateRed {
    border: 1px solid rgba(250, 47, 70, 0.96);
    background: rgba(250, 47, 70, 0.96);
}

.simulateBlue {
    border: 1px solid #46bded;
    background: #46bded;
}

#dataContainer {
    z-index: 1;
    background-color: lightcyan;
    top: 0px;
    left:0px;
    position: absolute;
    min-height: 100%;
    max-width: 30%;
}

#chartButton {
    display: block;
    position: absolute;
    position: fixed;
    bottom: 40px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

#dataContainer {
    display:none;
}
