@font-face {
    font-family: AvenirNormal;
    src: url("../assets/fonts/AvenirNext-Regular.ttf") format("truetype")
}

@font-face {
    font-family: CircularProBold;
    src: url("../assets/fonts/CircularPro-Bold.otf") format("truetype")
}

@font-face {
    font-family: CircularProNormal;
    src: url("../assets/fonts/CircularPro-Book.otf") format("truetype")
}

html {
    background-color: #e0e0e0;
}

#map {
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 150px;
    z-index: -1;
}

#search {
    display: block;
    position: fixed;
    bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.hidden {
    display:none;
}

#table {
    padding: 15px;
    margin-top: 5px;
}

h3 {
    padding-left: 16px;
    text-align: center;
    font-family: "CircularProBold";
}

#table h5 {
    font-family: "AvenirNormal";
    margin: 0px;
    padding: 0px;
    display:inline;
}

#table p {
    font-family: "AvenirNormal";
    margin-top: 0px;
    margin-bottom: 15px;
    padding: 0px;
    font-size: 10px;
}

#left {
    float: left;
}

#right {
    float: right;
}

#tableContainer {
    z-index: 1;
    background-color: white;
    top: 0px;
    right:0px;
    position: absolute;
    min-height: 100%;
    max-width: 30%;

}

#tableContainer img {
    height: 14px;
    width: 14px;
    padding-top: 0px;
    padding-left: 10px;
    position: fixed;
    right: 28%;
}

#timeStamp {
    position: fixed;
    font-family: "CircularProBold";
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

body{
    background: #f2f2f2;
    font-family: 'Open Sans', sans-serif;
}

.search {
    width: 80%;
    position: relative
}

.searchTerm {
    float: left;
    min-width: 50%;
    width: 70%;
    border: 3px solid #46bded;
    padding: 5px;
    height: 20px;
    border-radius: 5px;
    outline: none;
    color: #9DBFAF;
}

.searchTerm:focus{
    color: #46bded;
}

.searchButton {
    position: absolute;
    right: 70px;
    width: 40px;
    height: 36px;
    border: 1px solid #46bded;
    background: #46bded;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 20px;
}

.simulateButton {
    position: absolute;
    right: -60px;
    width: 120px;
    height: 36px;
    border: 1px solid #46bded;
    background: #46bded;
    text-align: center;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    font-size: 12px;
}

.wrap{
    width: 40%;
    display: block;
    position: absolute;
    position: fixed;
    bottom: 65px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.simulateRed {
    border: 1px solid rgba(250, 47, 70, 0.96);
    background: rgba(250, 47, 70, 0.96);
}

.simulateBlue {
    border: 1px solid #46bded;
    background: #46bded;
}

#dataContainer {
    z-index: 1;
    background-color: white;
    padding: 15px;
    top: 0px;
    left:0px;
    position: fixed;
    min-height: 100%;
    max-width: 20%;
}

#chartButton {
    position: absolute;
    position: fixed;
    bottom: 27px;
    margin-left: auto;
    margin-right: auto;
    left: 0%;
    right: 7%;
}

#chartButton p {
    font-size: 12px;
    color: white;
    background-color: #46bded;
    padding: 6px;
    border-radius: 8px;
    cursor: pointer;
}

.table-wrapper
{
    width: inherit;
    height: 300px;
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    background-color: #eaeaea;
    padding-left: 10%;
    margin-top: 20%;
    padding-top: 5%;
}

#dataTable h5, p {
    font-family: "AvenirNormal";
    margin: 0px;
    padding: 0px;
    display:inline;
}

#dataTable p {
    font-family: "AvenirNormal";
}

#dataTable h5 {
    font-family: "CircularProBold";
}


#dataTable tr {
    width: inherit;

}


#dataTable {
    margin-left: 10px;
    margin-right: 20px;
}

#dataTable td {
    border-bottom: 1px solid #fefefe;
    padding: 3px;
}

#dataContainer h3 {
    margin-top: 0px;
}

#dataContainer hr {
    margin-left:-15px;
    margin-right:-15px;
}


#dataContainer img {
    height: 14px;
    width: 14px;
    padding-top: 0px;
    padding-right: 10px;
    position: fixed;
    left: 20%;
}

#chart {
    margin: 10px;
}
